body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    font-family: Arial, sans-serif;
}

.calculator {
    background-color: lightgray;
    padding: 30px;
    border-radius: 20px;
    width: 340px;
}

#display {
    width: 100%;
    height: 65px;
    margin-bottom: 20px;
    font-size: 26px;
    text-align: right;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: white;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 12px;
}

button {
    height: 60px;
    font-size: 18px;
    border: none;
    border-radius: 12px;
    background-color: slategray;
    color: white;
    cursor: pointer;
    transition: transform 0.1s, background-color 0.3s;
}

button:active {
    transform: scale(0.95);
}

/* Special buttons */

.operator {
    background-color: steelblue;
}

.operator:hover {
    background-color: royalblue;
}

.equal {
    background-color: seagreen;
}

.equal:hover {
    background-color: green;
}

.clear {
    background-color: crimson;
}

.clear:hove
